.footer {
    min-height: 5vh;
}

.header-center {
    text-align: center;
}

#coordinates-text {
    font-family: monospace;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.progress-bar {
    font-size: 1.5rem;
}

.progress {
    position: relative;
}

.progress:nth-child(2) {
    margin-top: 5px;
}

.progress-legend {
    opacity: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-size: 1.5rem;
    width: 100%;
    height: inherit;
    position: absolute;
    padding-right: 25px;
}

.card.m-3 {
    margin: 0.5rem!important;
}

#safehouses-slider-component {
    width: 100%;
}

#safehouses-slider-component .slider-selection {
    background: #828cff;
}
#safehouses-slider-component .slider-handle {
    background: #001dcc;
}

.modal-dialog {
    max-width: 800px;
}

#safehouses-preview {
    height: 400px;
}

code {
    padding: 0.2rem 0.4rem;
    font-size: 87.5%;
    text-align: center;
    color: #fff;
    background-color: #818181;
    border-radius: 0.2rem;
}
